* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.container {
    position: relative;
    background-image: url("/1st-project/images/bg.png");
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
}

header, .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 48px;
    margin-right: 10px;
}

h5 {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

h6 {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

h5.number {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5.classnumber {
    margin-top: 20px;
}

.container .card-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header  .chip {
    width: 60px;
}