* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* justify-content: space-between;
    text-align: center; */
    height: 100vh;
    text-align: center;
    border: 10px solid #000;
    background-color: antiquewhite;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.image, img {
    width: 200px;
    height: 150px;
}

/* h2 {
    max-width: 900px;
    font-weight: 700;
    margin: 10px 10px ;
} */
